footer {
    color: #fff;
    background-color: #333;
    padding: 100px 50px;
    font-size: 16px;
}

footer ul {
    width: 25%;
    height: 100%;
}

footer a {
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li {
    display: flex;
    padding: 5px 5px;
}

footer h3 {
    padding: 35px 10px;
}

footer img {
    padding: 0 5px;
}

footer .company,
footer .contactUs,
footer .profile,
footer .newsletter {
    padding: 0px 50px;
}

footer .newsletter h3 {
    padding: 25px 5px;
}

footer .wrap {
    white-space: nowrap;
}

footer .icons {
    margin-top: 10px;
}

footer input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #333;
    width: 200px;
    border-bottom: white 1px solid;
}

.message {
    color: #fff;
    padding: 10px 5px;
}

footer .logo {
    margin-top: 35px;
}

footer .about {
    margin-top: 25px;
}
