@use "variables";

nav {
    height: 100%;
    font-size: 0.8rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}

.navigation ul a {
    text-transform: uppercase;
}

.navigation li {
    padding: 0 20px;
}

nav a:hover {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: variables.$thirdColor;
    position: relative;
}
nav a:hover:after {
    content: "";
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 0%;
    border-bottom: 3px solid variables.$thirdColor;
}

.navigation .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media(max-width: 655px) {
    .navigation ul {
    flex-direction: column;
    }

    .navigation {
        margin-left: -50px;
        align-items: center;
    }

    .navigation .logo {
        width: 33px;
    }

    .hideFive {
        display: none;
    }

    .hideFour {
        display: block;
    }

    .navMenu {
        position: fixed;
        left: -100%;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .navMenu.active {
        left: 0;
    }

    .navigation .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10;
    }
    
}