@use "variables";

nav {
    height: 8vh;
    font-size: 0.8rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation ul a {
    text-transform: uppercase;
}

.navigation li {
    padding: 0 20px;
}

nav a:hover {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: variables.$thirdColor;
    position: relative;
}
nav a:hover:after {
    content: "";
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 0%;
    border-bottom: 3px solid variables.$thirdColor;
}