@use "variables";

.heroImage {
    background-image: url(../assets/home.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	height: 100%;
    width: 100%;
}

.wrapperOne {
    width: 35%;
    padding-left: 350px;
}

.heroImage .wrapperOne {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroImage .wrapperOne h1 {
    color: variables.$firstColor;
    font-weight: 500;
    font-size: 3.2rem;
}

.heroImage .wrapperOne p {
    color: variables.$fourthColor;
    font-size: 0.8rem;
    padding-top: 10px;
}

// Contact page //

.heroImageContact {
    background-image: url(../assets/contact-us.jpg);    
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	height: 100%;
    width: 100%;
    padding: 110px 0;
}

.heroImageContact .wrapperPadding h1 {
    color: variables.$firstColor;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

.heroImageContact .wrapperPadding {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

@media (max-width:1540px) {
    .heroImage .wrapperOne {
        padding: 200px 15px;
        width: 50%;
        min-height: 0;
    }

    h1 {
        font-size: 0.8rem;
    }
}

@media (max-width:655px) {
    .heroImageContact {
        background-position-x: -1000px;
        min-height: 0;
    }

    .heroImage {
        background-position-x: -600;
    }
}