@use "variables";

.instagram {
height: 100%;
}

.follow {
    text-align: center;
    margin: 25px 0;
}

.instagramImages ul {
    display: flex;
}

.follow h2 {
    font-weight: 500;
    font-size: 1.9rem;
    color: variables.$firstColor;
    padding-bottom: 15px;
}

.follow a {
    color: variables.$fourthColor;
    font-size: 0.7rem;
}

.instagramImages img {
    width: 90%;
    padding: 25px 0;
}


// MEDIA QUERIES

@media(max-width: 1605px) {
    .instagram .wrapper {
        width: 90%;
    }

    .instagramImages ul {
        flex-direction: column;
        align-items: center;
    }

    .instagramImages li {
        display: flex;
        justify-content: center;
        padding: 10px 0
    }

    .instagramImages img {
        width: 80%;
        padding: 0;
    }
    
    .instagram {
        height: 100%;
    }

    .instagramImages .hideTwo {
        display: none;
    }

}