html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #000000;
}

h1, h2, p, h3, ul li, button, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 70%;
}

.wrapperPadding {
  max-width: 1920px;
  margin: 0 auto;
  width: 60%;
}

ul {
  list-style-type: none;
}

nav {
  height: 100%;
  font-size: 0.8rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 100px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation ul a {
  text-transform: uppercase;
}

.navigation li {
  padding: 0 20px;
}

nav a:hover {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

nav a:hover:after {
  content: "";
  position: absolute;
  width: 65%;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #000000;
}

@media (max-width: 655px) {
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation {
    margin-left: -50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation img {
    width: 75px;
  }
  .navigation .logo {
    width: 33px;
  }
}
.heroImage {
  background-image: url(../assets/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.wrapperOne {
  width: 35%;
  padding-left: 350px;
}

.heroImage .wrapperOne {
  padding-top: 250px;
  padding-bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroImage .wrapperOne h1 {
  color: #333333;
  font-weight: 500;
  font-size: 3.2rem;
}

.heroImage .wrapperOne p {
  color: #666666;
  font-size: 0.8rem;
  padding-top: 10px;
}

.heroImageContact {
  background-image: url(../assets/contact-us.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
}

.heroImageContact .wrapperPadding h1 {
  color: #333333;
  font-weight: 500;
  font-size: 2.5rem;
}

.heroImageContact .wrapperPadding {
  min-height: calc(35vh - 74px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

@media (max-width: 655px) {
  .heroImageContact {
    background-position-x: -1000px;
  }
  .heroImage {
    background-position-x: -600;
  }
}
@media (max-width: 1540px) {
  .heroImage .wrapperOne {
    padding: 200px 15px;
    width: 75%;
    min-height: 0;
  }
  h1 {
    font-size: 0.8rem;
  }
}
.itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hide {
  display: none;
}

.itemCard,
.itemImage,
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemImage {
  padding-top: 40px;
  margin: 0 auto;
}

.itemCard {
  width: 18%;
  position: relative;
  border: 1px #666666 solid;
  margin: 10px 10px;
}

.itemCard img {
  position: relative;
}

.saleTag,
.hide,
.newTag {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  top: 5%;
  padding: 5px;
  line-height: 0.9;
}

.label {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  font-weight: 500;
}

.itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon img {
  border: #666666 1px solid;
  padding: 1px;
  margin-right: 20px;
}

.price {
  color: #666666;
  font-size: 0.75rem;
  padding: 10px 0;
}

.item {
  font-size: 0.9rem;
}

.line {
  text-decoration: line-through;
}

.saleTag {
  background: #eba6aa;
}

.newTag {
  background: #88cce2;
}

.featuredSale {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  margin: 50px 0;
}

.featuredSale:before {
  content: "";
  position: absolute;
  width: 5%;
  bottom: 0;
  left: 48%;
  border-bottom: 3px solid #333333;
}

@media (max-width: 1125px) {
  .hideThree {
    display: none;
  }
  .itemCard {
    width: 20%;
  }
}
@media (max-width: 1500px) {
  .itemList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .itemCard {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .itemCard {
    width: 70%;
  }
}
@media (max-width: 380px) {
  .itemCard {
    width: 90%;
  }
}
.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.images {
  height: 100%;
}

.imageContainer img,
.dealContainer img {
  width: 90%;
  height: 100%;
}

.imageContainer .imageSize {
  width: 340px;
}

.images .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.plants,
.decoration,
.furniture {
  position: relative;
  padding: 0 10px;
}

.absoluteText {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
}

.plants {
  margin-top: 40px;
}

.decoration {
  margin-top: 40px;
}

.deals {
  height: 100%;
}

.dealContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6%;
}

.dealOne,
.dealTwo {
  position: relative;
}

.absoluteTextTwo a,
.absoluteTextThree a {
  text-align: center;
  position: absolute;
}

.absoluteTextTwo a {
  bottom: 7%;
  right: 33%;
  color: #ffffff;
}

.absoluteTextThree a {
  top: 10%;
  right: 30%;
  color: #000000;
  font-size: 1.3rem;
  border: 1px #000000 solid;
  padding: 15px 25px;
}

.font {
  font-size: 2rem;
  font-weight: 700;
}

.absoluteTextThree p {
  padding: 5px 0;
}

.absoluteTextTwo p {
  padding: 15px 0;
}

.sale {
  background: #ffffff;
  color: #BE8564;
  text-transform: uppercase;
  padding: 0 10px;
}

.shop {
  font-size: 0.8rem;
  padding-top: 20px;
}

@media (max-width: 1650px) {
  .absoluteTextTwo a,
  .absoluteTextThree a {
    bottom: 14%;
    width: 100%;
    padding: 0;
    left: 0;
  }
  .sale {
    display: block;
  }
  .absoluteTextTwo p,
  .absoluteTextThree p {
    padding: 0;
  }
  .absoluteTextThree a {
    border: none;
  }
}
@media (max-width: 1015px) {
  .imageContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .images,
  .images .wrapper {
    height: 100%;
  }
  .decoration,
  .furniture {
    margin-top: 20px;
  }
  .deals,
  .deals .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .dealContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .dealContainer img {
    width: 100%;
    padding: 20px 0;
  }
  .dealContainer .wrapper {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .absoluteTextTwo p,
  .absoluteTextThree p {
    font-size: 0.9rem;
  }
  .dealTwo span,
  .dealOne .font {
    font-size: 1.8rem;
  }
}
.instagram {
  height: 100%;
}

.follow {
  text-align: center;
  margin: 25px 0;
}

.instagramImages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow h2 {
  font-weight: 500;
  font-size: 1.9rem;
  color: #333333;
  padding-bottom: 15px;
}

.follow a {
  color: #666666;
  font-size: 0.7rem;
}

.instagramImages img {
  width: 90%;
}

@media (max-width: 1605px) {
  .instagram .wrapper {
    width: 90%;
  }
  .instagramImages ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instagramImages li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
  }
  .instagramImages img {
    width: 40%;
  }
  .instagram {
    height: 100%;
  }
  .instagramImages .hideTwo {
    display: none;
  }
}
.form {
  height: 60vh;
}

fieldset {
  border: none;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  height: 80px;
}

input, textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #000000 1px solid;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

button {
  background-color: #ffffff;
  padding: 10px 5px;
  border: #000000 1px solid;
  margin: 50px auto;
  min-width: 150px;
}

input {
  width: 100%;
  padding: 14px 13px;
}

label {
  height: 20px;
}

.contact .messageTwo {
  padding-left: 10px;
}

.form .wrapperPadding {
  width: 60%;
}

@media (max-width: 655px) {
  .form .wrapperPadding {
    width: 100%;
  }
  fieldset {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    width: 70%;
  }
}
footer {
  color: #ffffff;
  background-color: #333333;
  padding: 100px 50px;
  font-size: 16px;
  height: 100%;
}

footer ul {
  width: 25%;
  height: 100%;
}

footer a {
  color: #ffffff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
}

footer h3 {
  padding: 35px 10px;
}

footer img {
  padding: 0 5px;
}

footer .company,
footer .contactUs,
footer .profile,
footer .newsletter {
  padding: 0px 50px;
}

footer .newsletter h3 {
  padding: 25px 5px;
}

footer .wrap {
  white-space: nowrap;
}

footer .icons {
  margin-top: 10px;
}

footer input {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #333333;
  width: 200px;
  border-bottom: #ffffff 1px solid;
}

.message {
  color: #ffffff;
  padding: 10px 5px;
}

footer .logo {
  margin-top: 35px;
}

footer .about {
  margin-top: 25px;
}

@media (max-width: 1200px) {
  footer .wrapper {
    width: 100%;
  }
  footer {
    padding: 0;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -150px;
  }
  footer img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 110px;
    height: 25px;
  }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}